* text=auto !eol
out/Mifare[!!-~]Desfire[!!-~]demo[!!-~]tester.exe -text
out/uFCoder-x86.dll -text
out/uFR_AES_tester.exe -text
out/uFR_AES_tester.tds -text
src/Unit1.cpp -text
src/Unit1.ddp -text
src/Unit1.dfm -text
src/Unit1.h -text
src/Unit1.~cpp -text
src/Unit1.~ddp -text
src/Unit1.~dfm -text
src/Unit1.~h -text
src/d-logic.ico -text
src/uFCoder.h -text
src/uFCoder.~h -text
src/uFCoder_omf.lib -text
src/uFR_AES_tester.bpr -text
src/uFR_AES_tester.cpp -text
src/uFR_AES_tester.res -text
src/uFR_AES_tester.~bpr -text
tmp/Unit1.obj -text
tmp/uFR_AES_tester.obj -text
